services:
  environment-sense-station:
    build:
      context: ..
      dockerfile: server-container/Containerfile
    image: docker.io/aristos86/environment-sense-station:latest
    container_name: environment-sense-station
    restart: unless-stopped
    volumes:
      # Mount logs directory to persist cron logs
      - ./logs:/var/log
    # networks:
    #   - sensor-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

# networks:
#   sensor-network:
#     driver: bridge

